name: Deploy Portpolio

on:
  push:
    branches:
      - staging
      - deploy
      - main

jobs:
  deploy_qa:
    if: github.ref == 'refs/heads/deploy'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Connect with VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            mkdir -p apps/portpolio
            cd apps/portpolio
            
            if [ -d ".git" ]; then
              git stash
              git pull origin deploy
            else
              git clone -b deploy git@github.com:Tiran-Jayasekara/portfolio.git .
            fi
            
            npm install --legacy-peer-deps
            npm run build
            
             if ! command -v serve &> /dev/null; then
              npm install -g serve
            fi

            # Kill the existing PM2 process if it exists
            pm2 delete "portpolio" || true

            # Start serving the static files with PM2
            pm2 start npm --name "portfolio" -- start
            pm2 save
